{% extends "Home.html" %}

{% block content %}
    {% include 'messages.html' %}

    {% block overrideninchild %}


{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<canvas id="myChart" width="500" height="500">

</canvas>

<script>
var ctx = document.getElementById('myChart');
var labls = JSON.parse('{{label_list|safe}}'); 
var datas = JSON.parse('{{data_list|safe}}');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        
        labels: labls,
        datasets: [{
            label: 'Accuracy of each question',
            data: datas,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: false,
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>



<style>
    body
    {
        /* background-image: white; */
        background-image: linear-gradient(to top, #ffffff 0%, #ffffff 100%);;
        
        
    }
    .head
    {
        color: black;
    }
    
    #myChart
{
    display: block;
    margin: 0 auto;
}
   
  
</style>







<body>

    
    <canvas id="myChart" width="50" height="50">

    </canvas>
    

</body>

{% endblock %}