{% extends "Home.html" %}

{% block content %}
    {% include 'messages.html' %}

    {% block overrideninchild %}


{% endblock %}
<!-- <canvas id="canvas">
        
</canvas>
<script src="https://unpkg.com/rive-js@0.7.6/dist/rive.min.js"></script>
<script>
// autoplays the first animation in the default artboard
new rive.Rive({
src: 'https://public.rive.app/community/runtime-files/47-61-checkanimation.riv',
canvas: document.getElementById('canvas'),
autoplay: true,
})
</script> -->

<style>







.card {

    
   
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 20px; /* Added */
    background-color: #FDE896;
}

.title{
    color: white;
    font-size: 25;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-weight: bold; */
}

/* .card-columns {
    
  @include media-breakpoint-only(lg) {
    column-count: 4;
    padding:10 ;
    
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  } */

</style>



    <!-- <form method="post" action="runIntrue">
        {% csrf_token %}
        <button class="btn btn-danger btn-block btn-round">Start</button>
   </form> -->

   <br>

   <div class="table-dark">
    <table class="table table table-bordered" >

   

        <tr>

            <th>Question Id</th>
            <th>Listen</th>
            <th>Give Answer</th>
            <th>Action</th>
            <!-- <th>Actions</th> -->
            
            
        </tr>

        <tbody>
      
   {% for q in Questions %}

   <tr>
        <td>{{ q.index_no }}</td> 
                 <td>

                    <i class="fas fa-volume-up" style="color:white">
                       
                    </i>

                    <a href="{% url 'askQuestion' q.id %}" class="title">
                        Listen the question
                    </a>

                 </td> 
                 
                 <td>

                    <i class="fab fa-teamspeak" style="color:white">
                       
                    </i>

                    <a href="{% url 'giveAnswer' q.id %}" class="title"> Give the answer</a>

                 </td> 

                 <td><button type="button" class="btn btn-success">Submit</button></td> 

        
    </tr>

        <!-- {% load backcolor %}

        {% chooseBackColor as color_name %} -->

    
        <!-- <div class="container">
            <div class="row">
            <div class="card text-white {{ color_name }} " style="max-width: 18rem;">
                <div class="card-header">
                    {{ q.index_no }}

                    <a href= "{% url 'askQuestion' q.id %}" style="color: white;"  class="card-link">Listen Question</a>

                </div>
                <div class="card-body">
                    <a href="#" style="color: white;" >Give Answer</a>
                </div>
            </div>
            </div>
        </div> -->
        <!-- </div> -->
    

   {% endfor %}

   </tbody>





    


{% endblock %}
