{% extends "Home.html" %}

{% block content %}
    {% include 'messages.html' %}

    {% block overrideninchild %}


{% endblock %}


<!-- <canvas id="canvas">
        
</canvas>
<script src="https://unpkg.com/rive-js@0.7.6/dist/rive.min.js"></script>
<script>
// autoplays the first animation in the default artboard
new rive.Rive({
src: 'https://public.rive.app/community/runtime-files/47-61-checkanimation.riv',
canvas: document.getElementById('canvas'),
autoplay: true,
})
</script> -->

{% load get_current_date %}

<style>


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    position: relative;
    padding-bottom: 58px;
    min-height: 100vh;
    background-image: url('https://images.pexels.com/photos/4144923/pexels-photo-4144923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    
  }

 




.Ccard 
{
    
  
    margin-left:30%;
    margin-top: 50px;
    margin-right: 10%;



}

#pr
{
    display: block;
    margin: 0 auto;
    
    width: fit-content;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 150px;
}

.resultsec
{
    background-color: indigo;
    padding: 15px;
}



</style>

<body>

<div class="background">



    <div class="card Ccard" style="width: 50%; height: 100%; margin-top: 20px; margin-bottom: 10px;">
        <h5 class="card-header text-center" style="font-size: 20px; ">
            <strong>
                {% if user.is_authenticated %}
            Student Name -  {{ request.user.first_name }}
                {% endif %}  
            </strong></h5>
        <div class="container">
            <div class="row" >
              

                <div class="col-md-12 text-center"  >
                    
                    <h6 style=" text-align:center; font-size: 18px; margin-top: 10px;" > Today's Date  - {% getDate %}</h6>
                
                
                </div>

                

                
            </div>
        </div>
        
        <!-- called the function -->
        {% for q in answerdQuestions %}
        
        <hr>
        <div class="row text-center">
            <div class="col-md-6">
                <h6 style="font-size: 18px; padding-left:5px;">Question No : {{q.index_no}}</h6>
            </div>

            <div class="col-md-6">
                <h6 style="font-size: 18px; padding-left:5px;">Your Answer is : {{q.marks_in_perc}}% right</h6>
            </div>


        </div>
        <hr>
        <div class="card-body">
        
        <h6 style="font-size: 18px;"> Name : {{q.questions}} ?</h6>
        
        <h6 style="font-size: 18px;">Correct Answer: {{q.answers}}</h6>
        <h6 style="font-size: 18px;">Given Answer: {{q.given_answer}}</h6>
        


        
        </div>
        
    
        {% endfor %}  

        {% load getMessage %}

        
    
        <div class="col-md-12 text-center resultsec" style="color: white;">
            
            <h6>
                {% if final_score_perc %}
                <h6 style="font-size: 18px; padding-left:5px;"><strong>Your Final score is</strong> </h6>
                <h6 style="font-size: 18px; padding-left:5px;">{{final_score_perc}}%</h6>
                {% getMessage final_score_perc %}
                {% endif %}

                {% if not final_score_perc  %}
                <h6 style="font-size: 18px; padding-left:5px;"><strong>Answer all questions to see your final score.</strong> </h6>
                {% endif %}
            </h6>

        </div>
        
  </div>


  

     










  
   {% endblock %}
 
</div>

</body>